@font-face {
  font-family: "Courgette";
  src: url("./assests/fonts/Courgette-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("./assests/fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("./assests/fonts/Poppins-Regular.ttf");
}

html,
body,
h1,
h3,
p {
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  position: relative;
  background: url("./assests/images/background.png") no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  min-height: 768px;
}

@media (min-width: 1990px) {
  .container {
    background-position: center -140px;
  }
}

.title {
  text-align: center;
  font-family: "Courgette";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  color: #fff;
  padding-top: 168px;
  padding-bottom: 117px;
}

@media (min-width: 1441px) {
  .title {
    padding-bottom: 75px;
    padding-top: 132px;
  }
}

.form {
  margin: 0 auto;
  width: 577px;
}

.form_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 573px;
  margin-bottom: 38px;
  margin-left: auto;
  margin-right: auto;
}

.form_header_img {
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.form_header_title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #fff;
}
.form_thanksMsg {
  display: none;
  margin: 0 auto;
  width: 577px;
  margin-bottom: 38px;
  padding: 10px;
}
.form_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.form_input > input {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  padding: 11px 0px 12px 20px;
  border-radius: 6px;
  border: none;
  line-height: 22px;
  margin-bottom: 20px;
  color: #ffffff;
}

.form_input > input:nth-child(2) {
  border-top-right-radius: 0px;
}

.form_input > input:focus {
  outline: none;
  color: #fff;
}

.form_input > input::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
}

.form_input > input:-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
}

.form_input > input::-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
}

.form_input > input::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
}

.form_input > button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
  position: absolute;
  right: 0px;
  width: 120px;
  height: 45px;
  border-radius: 6px;
  border: none;
  background-color: #40cdff;
  color: #fff;
  cursor: pointer;
}

.form_input > button.disabled {
  cursor: not-allowed;
}

.form_input > button:focus {
  outline: none;
}

.form_brand {
  margin: 0 auto;
  width: 577px;
  margin-top: 4px;
}

.social {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  margin-bottom: 68px;
}

@media (min-width: 1441px) {
  .social {
    margin-bottom: 64px;
  }
}

.social_icon {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 30px;
}

.social_icon > img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading-icon {
  display: none;
  width: 32px;
  height: 32px;
  margin: auto;
}

.submitBtn-label {
  display: inline;
}